<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- manifest -->
  <link rel="manifest" href="site.webmanifest">
  <!-- icons -->
  <link rel="apple-touch-icon" href="img/icon.png">
  <link rel="shortcut icon" href="favicon.ico">
  <!-- style sheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- theme color -->
  <meta name="theme-color" content="#87CEEB">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>

  {% for light in lights %}
      <p> {{ light.name }} </p>
  {% endfor %}
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.8.0.min.js') }}/"></script>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>
