<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Splatter</title>
  <meta name="description" content="">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- manifest -->
  <link rel="manifest" href="site.webmanifest">

  <!-- icons -->
  <link rel="apple-touch-icon" href="img/icon.png">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- style sheets -->

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- normalize line heights -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.css') }}">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/vendor/materialize.css') }}"  media="screen,projection"/>
  <!-- import local style sheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

  <!-- theme color -->
  <meta name="theme-color" content="#87CEEB">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- show the lights -->
  {% for light in lights %}
  <div class="card hue-light-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ url_for('static', filename='img/icon.png/') }}">
    </div>
      <p>name {{ light.name }} </p>
      <p>on {{ light.on }} </p>
      <p>colormode {{ light.colormode }} </p>
      <p>brightness {{ light.brightness }} </p>
      <p>hue {{ light.hue }} </p>
      <p>saturation {{ light.saturation }} </p>
      <p>xy {{ light.xy }} </p>
      <p> {{ light.effect }} </p>
      <p> {{ light.alert }} </p>
      <p> {{ light.reachable }} </p>
      <p> {{ light.type }} </p>
      <p> {{ light._get("swversion") }} </p>
      <p> {{ light._get("uniqueid") }} </p>
  </div>
  {% endfor %}

  <!--JavaScript at end of body for optimized loading-->
  <!-- load modernizer -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-3.8.0.min.js') }}/"></script>
  <!-- load materialize -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/materialize.js') }}"></script>
  <!-- load local JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>
