
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* TODO: does grid-template-columns work above to replace these below? */

/*@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}*/

/*@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}*/

.hue-light-card {
    width: 200px;
    padding: 0px;
}

.color-button {
    border: none;
    display: block;
    width: 100%;
    height: 200px;
    border: none;
}
