
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 0px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.card {
    border-radius: 5px;
    overflow: hidden;
}

.color-button {
    border: none;
    display: block;
    border: none;
}

.hue-light-card {
    padding: 0px;
    border: 0px;
}

.hue-light-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.hue-light-card-control {

}
